$blue: #2957A4;
$orange: #F59630;
$black: #000;
$white: #fff;
$light-gray: #C7C7C7;
$dark-gray: rgba(56, 65, 74, 0.50);


$dark-color-1: #2B2B35;
$dark-color-2: #18191E;
$dark-color-3: #727279;
$dark-color-4: #23232a;

$primary-color: $blue;
$secondary-color: $orange;